<div class = "row">
	<div class = "col-lg-2 offset-lg-2">
		<h2>会員情報</h2>
		<%= render 'user/users/profile', user: @user %>
	</div>

	<div class = "col-lg-6 offset-lg-2">
		<h2><%= @salon.salon_name %>とのChat room</h2>
			<div id='messages'>
  				<%= render @messages %>
			</div>

			<form>
  				<label>Say something:</label><br>
  				<input type="text" data-behavior="room_speaker">
			</form>
	</div>
</div>