<div class = "top-image">
	<!-- 後ほど位置を編集 -->
	<h2>あなたは何がしたい</h2>
</div>

<h2>realmeとは？</h2>
	<p>「理想のオンラインサロン」を探すことができるサービスです。<br>
		近頃、オンラインサロンがブームとなり、入会する方がたくさんいます。<br>
		しかし、無数にあるオンラインサロンの中で、あなたが探し求めているオンランサロンを<br>
	探し出すのは至難の技です。realmeはそんなあなたのオンラインサロン探しをお手伝いします。</p>